@font-face {
    font-family: 'LXGW WenKai';
    font-style: normal;
    font-weight: 400;
    src: local('LXGW WenKai Regular'), 
        url('/fonts/LXGWWenKaiMono-Regular.tff') format('tff');
    font-display: swap;
}

body {
    font-family: 'LXGW WenKai', serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'LXGW WenKai', serif;
}