/* 导入霞鹜文楷屏幕阅读版字体 */
@import 'lxgw-wenkai-screen-webfont/style.css';

/* 设置全局字体 */
body {
    font-family: "LXGW WenKai Screen", sans-serif !important;
}

/* 文章内容字体 */
.entry-content, .post-content, .article-content {
    font-family: "LXGW WenKai Screen", sans-serif !important;
}

/* 代码块字体 */
pre, code, kbd, samp {
    font-family: "LXGW WenKai Mono", sans-serif !important;
}
